{% load static %}
<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SkinSync{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

    {% if messages %}
    <ul class="messages-container"> 
        {% for message in messages %}
            <li class="message {{ message.tags }}">{{ message }}</li> 
        {% endfor %}
    </ul>
    {% endif %}

    <main>
        {% block content %}
            
        {% endblock %}
    </main>
    
</body>
</html>